In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

class disp(object):
    template = '<div style="float: left;padding:10px;"> <b>[{0}]</b> {1}</div>'
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args )

import pandas as pd   
import numpy as np

### [예제1] gb.apply() 메서드의 이해

In [3]:
# [1-1]

d = {'class':list('ABAB'),'hw':[5,10,7,3],'exam':[80,55,70,100]}
df = pd.DataFrame(d, index=['kim','lee','park','song'])
df

def f1(x):
    print(x)
    return x.sum()

r1 = df.groupby('class').apply(f1)
disp('df', 'r1')

     class  hw  exam
kim      A   5    80
lee      B  10    55
park     A   7    70
song     B   3   100

     class  hw  exam
kim      A   5    80
park     A   7    70
     class  hw  exam
lee      B  10    55
song     B   3   100

      class  hw  exam
class
A        AA  12   150
B        BB  13   155

In [ ]:
# [1-2]

d = {'class':list('ABAB'),'hw':[5,10,7,3],'exam':[80,55,70,100]}
df = pd.DataFrame(d, index=['kim','lee','park','song'])
df

def f1(x):
    print(x)
    return x.sum()

r2 = df.groupby('class')['exam'].apply(f1)
r2

In [ ]:
# [2]

d = {'class':list('ABAB'),'hw':[5,10,7,3],'exam':[80,55,70,100]}
df = pd.DataFrame(d, index=['kim','lee','park','song'])
df

def f2(x):
    return x.nlargest(1, 'exam')

r3 = df.groupby('class')[['hw','exam']].apply(f2)
df; r3

### [예제2] gr.transform 메서드의 이해

In [ ]:
# [1]

d = {'class':list('ABAB'),'hw':[5,10,7,3],'exam':[80,55,70,100]}
df = pd.DataFrame(d, index=['kim','lee','park','song'])
df

def f1(x):
    print(x)
    return x.max()

r1 = df.groupby('class').transform(f1)
disp('df', 'r1')

In [ ]:
# [2]

d = {'class':list('ABAB'),'hw':[5,10,7,3],'exam':[80,55,70,100]}
df = pd.DataFrame(d, index=['kim','lee','park','song'])
df

gr = df.groupby('class')['exam']
df['avg'] = gr.transform('mean')
df['dev'] = df['exam'] - df['avg']
df

### [예제3] gr.agg() 메서드의 이해 1

In [ ]:
# [1-1]

df = pd.DataFrame({'class':list('ABAB'), 'kor':[100,50,90,80],'eng':[60,60,50,90]},
                 index=['kim','lee','park','song'])

def f1(x):
    print(x)
    return x.sum()

gb = df.groupby('class')
r1 = gb.agg(f1)
disp('df', 'r1')

In [ ]:
# [1-2]

df = pd.DataFrame({'class':list('ABAB'), 'kor':[100,50,90,80],'eng':[60,60,50,90]},
                 index=['kim','lee','park','song'])

def f1(x):
    print(x)
    return x.sum()

gb = df.groupby('class')
r2 = gb['kor'].agg(f1)
df; r2

In [ ]:
# [2]

df = pd.DataFrame({'class':list('ABAB'), 'kor':[100,50,90,80],'eng':[60,60,50,90]},
                 index=['kim','lee','park','song'])

gb = df.groupby('class')
r3 = gb.agg(['sum', 'mean'])
r4 = gb.agg({'kor':'sum', 'eng':'mean'})
disp('df', 'r3','r4')

### [예제4] gr.agg() 메서드의 이해 2

In [ ]:
# [1] 

df = pd.DataFrame({'class':list('ABAB'), 'kor':[50,90,70,100],'eng':[60,60,50,90]},
                 index=['kim','lee','park','song'])


gb1 = df.groupby('class')[['kor', 'eng']]
r1 = gb1.agg([('tot','sum'), ('avg','mean')])
r2 = gb1.agg(tot = ('kor','sum'), avg = ('eng','mean'))
disp('df', 'r1','r2')

In [ ]:
# [2]

df = pd.DataFrame({'class':list('ABAB'), 'kor':[50,90,70,100],'eng':[60,60,50,90]},
                 index=['kim','lee','park','song'])

def func(x):
    return x.max() - x.min()

gb = df.groupby('class')
r3 = gb.agg(['max','min',('diff',func)])
disp('df', 'r3')

### [예제5] gr.filter() 메서드의 이해

In [ ]:
# [1] 

d = {'class':list('ABAB'),'hw':[5,10,7,3],'exam':[80,60,70,100]}
df = pd.DataFrame(d, index=['kim','lee','park','song'])
df

def f1(x):
    print(x)
    return x['exam'].mean() >=80

r1 = df.groupby('class').filter(f1)
disp('df', 'r1')

In [ ]:
# [2] 

d = {'class':list('ABAB'),'hw':[5,10,7,3],'exam':[80,60,70,100]}
df = pd.DataFrame(d, index=['kim','lee','park','song'])
df

def f2(x):
    return x.mean() >= 80

r2 = df.groupby('class')['exam'].filter(f2)
# r3 = df.groupby('class').filter(f2) #error
df; r2

### [예제6] 그룹 집계 활용 : titanic

In [ ]:
# [1]

df = pd.read_csv('data/titanic.csv', usecols=['pclass','survived','sex','age']) 
df.head(20)

gb = df.groupby(['pclass','sex'])
df['age'] = gb['age'].transform(lambda x: x.fillna(x.mean()))

print(gb['age'].mean())
df.head(20)

In [ ]:
# [2] 

df = pd.read_csv('data/titanic.csv',usecols=['pclass','survived','sex','age']) 
gb = df.groupby(['pclass', 'sex'])
r2 = gb.filter(lambda x: x['survived'].sum() <= 20)

print( gb['survived'].sum() )
r2