In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

class disp(object):
    template = '<div style="float: left;padding:10px;"> <b>[{0}]</b> {1}</div>'
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)

import pandas as pd
import numpy as np

### [예제1] pivot_table()의 이해 1

In [ ]:
df = pd.DataFrame({'grade':[1,1,1,1,2,2], 'class':list('AABBAA'), 
                   'name':['kim', 'lee', 'park', 'song', 'lew','ki'], 
                   'kor':[60, 90, 60, 40, 30,100], 'eng':[50, 60, 100, 60, 70,80]})

r1 = df.pivot_table(index='grade',columns='class',values='eng',aggfunc='mean')
r2 = pd.pivot_table(df, index='grade', columns='class', values='eng')
r3 = df.pivot_table(index='grade',columns='class',values='eng',aggfunc='sum')

disp('df','r1', 'r2', 'r3')

In [ ]:
df = pd.DataFrame({'grade':[1,1,1,1,2,2], 'class':list('AABBAA'), 
                   'name':['kim', 'lee', 'park', 'song', 'lew','ki'], 
                   'kor':[60, 90, 60, 40, 30,100], 'eng':[50, 60, 100, 60, 70,80]})

r4 = pd.pivot_table(df, index='grade', columns='class')
r5 = pd.pivot_table(df, index=['grade', 'class'])

df; disp('r4','r5')

### [예제2] pivot_table()의 이해 2

In [ ]:
# [1]

df = pd.DataFrame({'grade':[1,1,1,2,2], 'class':list('AABAA'), 
                   'name':['kim', 'lee', 'park', 'song', 'lew'], 
                   'kor':[60, 90, 60, 40, 30], 'eng':[50, 60, 100, 60, 70]})

r1 = df.pivot_table(index='grade', aggfunc='count')
r2 = df.pivot_table(index='grade', values='name', aggfunc='count')

df; disp('r1', 'r2')

In [ ]:
# [2]

df = pd.DataFrame({'grade':[1,1,1,2,2], 'class':list('AABAA'), 
               'name':['kim', 'lee', 'park', 'song', 'lew'], 
               'kor':[60, 90, 60, 40, 30], 'eng':[50, 60, 100, 60, 70]})

r3 = df.pivot_table(index='grade',columns='class', values='kor', margins=True)
r4 = df.pivot_table(index='grade',columns='class', fill_value=0, margins=True)

df; disp('r3', 'r4')

### [예제3] pivot_table의 aggfunc 옵션

In [ ]:
# [1-1]

df = pd.DataFrame({'grade':[1,1,1,2,2], 'class':list('ABBAA'), 
                   'name':['kim', 'lee', 'park', 'song', 'lew'], 
                   'kor':[60, 90, 60, 40, 30], 'eng':[50, 60, 100, 60, 70]})

r1 = pd.pivot_table(df, index='grade', aggfunc=[sum, np.mean])

disp('df', 'r1')

In [ ]:
# [1-2]

df = pd.DataFrame({'grade':[1,1,1,2,2], 'class':list('ABBAA'), 
                   'name':['kim', 'lee', 'park', 'song', 'lew'], 
                   'kor':[60, 90, 60, 40, 30], 'eng':[50, 60, 100, 60, 70]})

r2 = pd.pivot_table(df, index='grade', aggfunc={'kor':min,'eng':max})  
r3 = pd.pivot_table(df, index='grade', aggfunc= {'kor':['max','min']})  

disp('df','r2', 'r3')

In [ ]:
# [2]

df = pd.DataFrame({'grade':[1,1,1,2,2], 'class':list('ABBAA'), 
                   'name':['kim', 'lee', 'park', 'song', 'lew'], 
                   'kor':[60, 90, 60, 40, 30], 'eng':[50, 60, 100, 60, 70]})

d = {'kor':[max, min],'eng':[max,min]}
r4 = pd.pivot_table(df, index=['grade', 'class'], aggfunc=d)

disp('df', 'r4')

### [예제4] crosstab() 메서드

In [ ]:
d1 = {'grade':[1,2,1,2,1],'sex':list('MMMWW'), 'name':['kim','lee','park','song','lew']}
df1 = pd.DataFrame(d1).set_index('name')

d2 = {'class':list('BBAB'),'name':['kim','lee','park','lew']}
df2 = pd.DataFrame(d2).set_index('name')

r1 = pd.crosstab(index=df1['grade'],columns=df2['class']) 
r2 = pd.crosstab(df1['grade'], [df2['class'], df1['sex']])  
r3 = pd.crosstab(df1['grade'], df2['class'], margins=True)

disp('df1','df2','r1','r2','r3')

### [예제5] tips 데이터 셋

In [ ]:
df = pd.read_pickle('data/tips.pickle')
df.info()
df.head()

### [예제6] titanic dataset

In [ ]:
df = pd.read_csv('data/titanic.csv')
df.info()
df.head()